<h1>New document</h1>

 <% form_tag :action => "create" do %>
<p>
  Document Name:
  <%= text_field :document, :name %>
</p>
<p>
  Annotation Name:
  <%= text_field :annotation, :name %>
</p>
<p>
  <%= submit_tag 'Create' %>
</p>
<% end %>

<%= link_to 'Back', documents_path %>